<!DOCTYPE html>
<html>
<head>
	<title>PYTHON TUTORIAL WEBSITE</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_1.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body style="background-image: url('../static/back.gif');background-size: 1550px 760px;background-repeat: repeat-y;">
    <!--
	      <div class="background-wrap">
			<video id="video-bg-elem" preload="auto" autoplay="true" loop="loop" muted="muted"> 
				<source src="video.mp4" type="video/mp4">
				Video not supported
			</video>          
		</div>
    -->
	<div class="content" >
	<header>
		<div class="container" >
      
        	<div class="row no-gutters">
        		<div class="col-lg-12 col-md-12">
              
                <div class="d-flex flex-column ">
                    <div class="p-5  text-white text-center">
                        <div class="d-flex flex-row justify-content-between align-items-sm-center">
                        	<h1 class=display-5>PYTHON TUTORIALS</h1>
                    	</div>
                	</div>
                	<div class="p-3 text-white bg-black">
                		EASY AND EFFECTIVE WAY TO LEARN PYTHON
                	</div>

                	<div class="d-flex flex-row text-center text-white row no-gutters">
                        <div class="p-4 bg-success font-div" data-toggle="collapse" data-target="#about">
                            <i class="fa fa-home  fa-2x d-block"></i>Home
                        </div>

                        <div class="p-4 bg-danger font-div" data-toggle="collapse" data-target="#know">
                        	<i class="fa fa-language fa-2x d-block"></i>
                            Different languages
                        </div>
                        <div class="p-4 bg-primary font-div" data-toggle="collapse" data-target="#python">
                            <i class="fa fa-laptop  fa-2x d-block"></i>Python
                        </div>
                        
                    </div>

        	</div>
        </div>	
	
	
<a class="gotopbtn" href="#"> <i class="fas fa-arrow-up"></i> </a>
</header>

<div class="container bg-black">
    <div class="collapse" id="about">
    
        <div class="p-5 text=whit bg-successe text-white">
        <h2 ><b>What are Programming Languages?</h2></b>
<b>A programming language is a computer language programmers use to develop software programs, scripts, or other sets of instructions for computers to execute.</b>
<p> Today, there are hundreds of different programming languages. Each language has its own syntax(though similarities may exist) as well as its own purpose. For instance, <b>R</b> is mainly used for data science and statistical computing whereas <b>Scala</b> is used for functional programming.</p><br>
<p>There are compiled languages and interpreted languages. Programs written using compiled languages have to be compiled i.e. the source code needs to be compiled which creates the executable file and thus the executable file is executed. In case of interpreted languages, there is no compilation and creation of an executable file. The interpreter reads every line of source code one by one and executes accordingly whereas in compiled languages, the compiler reads the entire source code at once instead of reading line by line. These programs can either be written in an IDE and executed from the IDE itself or they can be written in a source code editor and then executed via the terminal(command line). 
        </p><br>
        <b>Hierarchy of Computer Languages :</b><br>
        <img class="bg-white" src = "../static/pl-1.png" width=50% height=50% ><br>
        </div>
    </div>
  </div>

  

    <div class="container bg-black">
    <div class="collapse" id="know">
    
        <div class="p-5 text-white bg-successe">
        <p> The following table contains an index of the different programming and scripting languages. Clicking on any of the following languages will redirect you to another website which displays an explanation and example of that language.</p>
        <table  align="center" border="3.0" cellspacing="0" cellpadding="5" bordercolor="white">
<tr>
<th>A-C</th>
<th>D-K</th>
<th>L-Q</th>
<th>R-Z</th>
</tr>
<tr>
<td width="25%"><a href="https://www.computerhope.com/jargon/a/actionscript.htm">ActionScript</a><br>

<a href="https://www.computerhope.com/jargon/a/algol.htm">ALGOL</a><br>

<a href="https://www.computerhope.com/jargon/a/ada.htm">Ada</a><br>

<a href="https://www.computerhope.com/jargon/a/aiml.htm">AIML</a> *<br>

<a href="https://www.computerhope.com/jargon/a/altabasic.htm">Altair BASIC</a><br>

<a href="https://www.computerhope.com/jargon/a/al.htm">Assembly</a><br>

<a href="https://www.computerhope.com/jargon/a/autohotkey.htm">AutoHotkey</a><br>

<a href="https://www.computerhope.com/jargon/b/babel.htm">Babel</a><br>

<a href="ttps://www.computerhope.com/jargon/b/basic.htm">BASIC</a><br>

<a href="https://www.computerhope.com/jargon/b/batchfil.htm">Batch file</a><br>

<a href="https://www.computerhope.com/jargon/b/bcpl.htm">BCPL</a><br>

<a href="https://www.computerhope.com/jargon/b/beanshell.htm">BeanShell</a><br>

<a href="https://www.computerhope.com/jargon/b/brooks.htm">Brooks</a><br>

<a href="https://www.computerhope.com/jargon/c/c.htm">C</a><br>

<a href="https://www.computerhope.com/jargon/c/csharp.htm">C#</a><br>

<a href="https://www.computerhope.com/jargon/c/cplus.htm">C++</a><br>

<a href="https://www.computerhope.com/jargon/l/lisp.htm">CL</a><br>

<a href="https://www.computerhope.com/jargon/c/clojure.htm">Clojure</a><br>

<a href="https://www.computerhope.com/jargon/c/cobol.htm">COBOL</a><br>

<a href="https://www.computerhope.com/jargon/c/coffeescript.htm">CoffeeScript</a><br>

<a href="https://www.computerhope.com/jargon/l/lisp.htm">Common Lisp</a><br>

<a href="https://www.computerhope.com/jargon/c/cpl.htm">CPL</a><br>

<a href="https://www.computerhope.com/jargon/c/css.htm">CSS</a> *<br>

<a href="https://www.computerhope.com/jargon/c/curl.htm">Curl</a><br>

<a href="https://www.computerhope.com/jargon/c/curry.htm">Curry</a></td>

<td width="25%"><a href="https://www.computerhope.com/jargon/d/dlang.htm">D</a><br>

<a href="https://www.computerhope.com/jargon/d/darkbasi.htm">DarkBASIC</a><br>

<a href="https://www.computerhope.com/jargon/d/dart.htm">Dart</a><br>

<a href="https://www.computerhope.com/jargon/d/datalog.htm">Datalog</a><br>

<a href="https://www.computerhope.com/jargon/d/dbase.htm">dBASE</a><br>

<a href="https://www.computerhope.com/jargon/d/dylan-prog.htm">Dylan</a><br>

<a href="https://www.computerhope.com/jargon/l/lisp.htm">EuLisp</a><br>

<a href="https://www.computerhope.com/jargon/e/elixir.htm">Elixir</a><br>

<a href="https://www.computerhope.com/jargon/f/f-lang.htm">F</a><br>

<a href="https://www.computerhope.com/jargon/f/fsharp.htm">F#</a><br>

<a href="https://www.computerhope.com/jargon/f/fortran.htm">FORTRAN</a><br>

<a href="https://www.computerhope.com/jargon/f/foxpro.htm">FoxPro</a><br>

<a href="https://www.computerhope.com/jargon/l/lisp.htm">Franz Lisp</a><br>

<a href="https://www.computerhope.com/jargon/g/golang.htm">Go</a><br>

<a href="https://www.computerhope.com/jargon/g/gw-basic.htm">GW Basic</a><br>

<a href="https://www.computerhope.com/jargon/h/haskell.htm">Haskell</a><br>

<a href="https://www.computerhope.com/jargon/h/hdml.htm">HDML</a> *<br>

<a href="https://www.computerhope.com/jargon/h/html.htm">HTML</a> *<br>

<a href="https://www.computerhope.com/jargon/l/lisp.htm">InterLisp</a><br>

<a href="https://www.computerhope.com/unix/uksh.htm">ksh</a><br>

<a href="https://www.computerhope.com/jargon/j/java.htm">Java</a><br>

<a href="https://www.computerhope.com/jargon/j/javascript.htm">JavaScript</a><br>

<a href="https://www.computerhope.com/jargon/j/jcl.htm">JCL</a><br>

<a href="https://www.computerhope.com/jargon/j/julia.htm">Julia</a><br>

<a href="https://www.computerhope.com/jargon/k/kotlin.htm">Kotlin</a></td>

<td width="25%"><a href="https://www.computerhope.com/jargon/l/lisp.htm">LeLisp</a><br>

<a href="https://www.computerhope.com/jargon/l/lisp.htm">Lisp</a><br>

<a href="https://www.computerhope.com/jargon/l/livescri.htm">LiveScript</a><br>

<a href="https://www.computerhope.com/jargon/l/logo.htm">LOGO</a><br>

<a href="https://www.computerhope.com/jargon/l/lua.htm">Lua</a><br>

<a href="https://www.computerhope.com/jargon/l/lisp.htm">MACLISP</a><br>

<a href="https://www.computerhope.com/jargon/m/matlab.htm">Matlab</a><br>

<a href="https://www.computerhope.com/jargon/m/metro.htm">Metro</a><br>

<a href="https://www.computerhope.com/jargon/m/mumps.htm">MUMPS</a><br>

<a href="https://www.computerhope.com/jargon/n/nim.htm">Nim</a><br>

<a href="https://www.computerhope.com/jargon/o/objectivec.htm">Objective-C</a><br>

<a href="https://www.computerhope.com/jargon/o/ocaml.htm">OCaml</a><br>

<a href="https://www.computerhope.com/jargon/p/pascal.htm">Pascal</a><br>

<a href="https://www.computerhope.com/jargon/p/perl.htm">Perl</a><br>

<a href="https://www.computerhope.com/jargon/p/php.htm">PHP</a><br>

<a href="https://www.computerhope.com/jargon/p/pick.htm">Pick</a><br>

<a href="https://www.computerhope.com/jargon/p/purebasic.htm">PureBasic</a><br>

<a href="https://www.computerhope.com/jargon/p/python.htm">Python</a><br>

<a href="https://www.computerhope.com/jargon/p/prolog.htm">Prolog</a><br>

<a href="/qbasichl.htm">QBasic</a></td>

<td width="25%"><a href="https://www.computerhope.com/jargon/r/r-programming-language.htm">R</a><br>

<a href="https://www.computerhope.com/jargon/r/racket.htm">Racket</a><br>

<a href="https://www.computerhope.com/jargon/r/reia.htm">Reia</a><br>

<a href="https://www.computerhope.com/jargon/r/rpg.htm">RPG</a><br>

<a href="https://www.computerhope.com/jargon/r/ruby.htm">Ruby</a><br>

<a href="https://www.computerhope.com/jargon/r/rust.htm">Rust</a><br>

<a href="https://www.computerhope.com/jargon/s/scala.htm">Scala</a><br>

<a href="https://www.computerhope.com/jargon/s/scheme-lang.htm">Scheme</a><br>

<a href="https://www.computerhope.com/jargon/s/scratch.htm">Scratch</a><br>

<a href="https://www.computerhope.com/jargon/s/sgml.htm">SGML</a> *<br>

<a href="https://www.computerhope.com/jargon/s/simula.htm">Simula</a><br>

<a href="https://www.computerhope.com/jargon/s/smaltalk.htm">Smalltalk</a><br>

<a href="https://www.computerhope.com/jargon/s/spl.htm">SPL</a><br>

<a href="https://www.computerhope.com/jargon/s/sql.htm">SQL</a> *<br>

<a href="https://www.computerhope.com/jargon/l/lisp.htm">Stanford LISP</a><br>

<a href="https://www.computerhope.com/jargon/s/swift.htm">Swift</a><br>

<a href="https://www.computerhope.com/jargon/t/tcl.htm">Tcl</a><br>

<a href="https://www.computerhope.com/jargon/t/turbo-pascal.htm">Turbo Pascal</a><br>

<a href="https://www.computerhope.com/jargon/t/truebasi.htm">True BASIC</a><br>

<a href="https://www.computerhope.com/jargon/v/vhdl.htm">VHDL</a><br>

<a href="https://www.computerhope.com/jargon/v/vb.htm">Visual Basic</a><br>

<a href="https://www.computerhope.com/jargon/f/foxpro.htm">Visual FoxPro</a><br>

<a href="https://www.computerhope.com/jargon/w/wml.htm">WML</a> *<br>

<a href="https://www.computerhope.com/jargon/x/xhtml.htm">WHTML</a> *<br>

<a href="https://www.computerhope.com/jargon/l/lisp.htm">XLISP</a><br>

<a href="https://www.computerhope.com/jargon/x/xml.htm">XML</a> *<br>

<a href="https://www.computerhope.com/jargon/y/yaml.htm">YAML</a> *<br>

<a href="https://www.computerhope.com/jargon/l/lisp.htm">ZetaLisp</a></td>

</tr>
</table>

        </div>
    </div>
    </div>
    
<div class="container bg-black">
    <div class="collapse" id="python">
    
        <div class="p-5 text-white bg-successe">
        	<h3><b>What is Python?</h3></b>
<p>Python is an interpreted, high-level, general-purpose programming language created by Guido van Rossum. Its an object-oriented programming language with integrated dynamic semantics primarily for web and app development. Python is relatively simple, so it's easy to learn since it requires a unique syntax that focuses on readability.</p>
<h3><b>Why Python?</h3></b>
<p>Developers can read and translate Python code much easier than other languages. In turn, this reduces the cost of program maintenance and development because it allows teams to work collaboratively without significant language and experience barriers.</p>
 
<p>Additionally, Python supports the use of modules and packages, which mean that programs can be designed in a modular style and code, can be reused across a variety of projects. Once you've developed a module or package you need, it can be scaled for use in other projects, and it's easy to import or export these modules.</p>
 
<p><br>One of the most promising benefit of Python is that both the standard library and the interpreter are available free of charge, in both binary and source form. There is no exclusivity either, as Python and all the necessary tools are available on all major platforms. Therefore, it is an enticing option for developers who don't want to worry about paying high development costs.</p>
<p>One of the most popular area of the IT industry, Artificial Intelligence, is learnt, taught and implemented using Python. Python contains built-in modules and packages which can be used for leaning and implementing Artificial Intelligence and Machine Learning algorithms. This is one of the main reasons that Python has gained so much popularity in such a short span of time.</p>


        </div>
        
        <div class="container" >
      
        	<div class="row no-gutters">
        		<div class="col-lg-12 col-md-12">
              
                <div class="d-flex flex-column ">
                    
              
                	<div class="d-flex flex-row text-center text-white row no-gutters">
                        <div class="p-4 bg-secondary font-div1" >
                            <button onclick="window.location.href ='contents.html';" class="button button">Learn Python</button>
                        </div>

                        <div class="p-4 bg-secondary font-div1" >
                            <button onclick="window.location.href ='https://docs.google.com/forms/d/e/1FAIpQLSfOe5X_BWMuLIExD-WjlsrcslQAP1u4tAaMNPtbAZRvVmT6sA/viewform?usp=sf_link';" class="button button">Take A Quick Test</button>
                        </div>
                        <div class="p-4 bg-secondary font-div1">
                            <button onclick="window.location.href ='#';" class="button button">Give a Review</button>
                        </div>
                        
                    </div>

        	</div>
        </div>	


    </div>


    </div>


  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <script type="text/javascript">
        $('.font-div').click(function(){
            $('.collapse').collapse('hide');
        } );

  </script>


</body>
</html>
